body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #1C391C;
    color: hsl(46, 100%, 71%);
    margin: auto;
}

#dealer-cards img {
    height: 140px auto;
    width: 90px;
    padding: 2px;
    margin: 1px auto;
    display: inline-flex;
    align-items: center;
}

#player-cards img {
    height: 140px auto;
    width: 90px;
    padding: 2px;
    margin: 5px auto;
    display: inline-flex;
    align-items: center;
}

#current-currency {
    font-size: 20px;
    margin: 1px;
}

input {
    width: 100px;
    height: 35px;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    margin: 1px;
}

#bet-btn {
    width: 80px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    margin: 1px;
}

#hit {
    width: 80px;
    height: 40px;
    font-size: 25px;
    border-radius: 5px;
}

#stay {
    width: 80px;
    height: 40px;
    font-size: 25px;
    border-radius: 5px;
}

.hidden {
    display: none;
}

#next-round {
    width: 120px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
}

#results {
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
}
